.section-gap-sm {
    padding: 45px 0 !important;
}
.partner {
    align-items: center;
}
.partner-brand > img {
    width: 125px;
}
.img-filter {
    position: relative;
}
.img-filter:after {
    content: "";
    background: linear-gradient(to right bottom, rgba(75,195,195,.25) 0%, rgba(121,84,255,.25) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.img-filter > img {
    filter: grayscale(75%) brightness(50%);
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .hero-text > .container > .row > .col-md-12 {
        width: unset !important;
    }
    .partner-brand > img {
        width: 110px;
    }
    .img-filter:after {
        height: 328px;
    }
}